/Tienda_Practica3 - copia/nbproject/private/
/Tienda_Practica4/nbproject/private/
/Tienda_Practica6/nbproject/private/
/Tienda_Practica6/vendor/
/Tienda_Practica6 - copia/nbproject/private/
/Tienda_Practica7/nbproject/private/